body
{
	background-color: #4ec7eb;
}

model-viewer
{
	width: 750px; 
	height: 750px; 
	margin: auto;
	--progress-bar-color: rgba(0,0,0,0);
}

.switch-buttons
{
	border: 5px solid #030057;
	background-color: #030057;
	border-radius: 10px;
	color: white;
	padding: 20px;
	font-size: 3em;
}

.buttons
{
	position: absolute;
	right: 20px;
	top: 20px;
}