body 
{
	background-color: #478FF4;
}

.colors
{
	width: 99%;
	margin: auto;
	text-align: center;
}

.colorPicker 
{
	display: inline-block;
	margin: 0 10px;
	color: white;
}

.builder
{
	position: absolute;
}